[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "external/CrispASR"]
	path = external/CrispASR
	url = https://github.com/CrispStrobe/CrispASR.git
